@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 1170px;
    margin: auto;
}
ul li{
    list-style-type: none;
}
a{
    text-decoration: none;
    font-size: 16px;
    color: #263959;
}
img svg{
    max-width: 100% !important;
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
body{
    background-image: url(../images/background.jpg);
    background-size: cover;
}
/* Header */
.logo {
    padding: 35px 0px;
}
/* Hero section */
.hero-section {
    padding: 90px 0px 60px 0px;
}
span.quote-color {
    color: #424249;
}
.hero-content{
    text-align: center;
    z-index: 2;
    padding: 10px 160px;
}
a.hero-btn {
    background-color: #5D5FEF;
    padding: 20px 40px;
    border-radius: 50px;
    box-shadow: 14px 11px 16px 0px #0003, inset 1.69px 2.52px 1.69px 0px #ffffff24, inset -3.37px -2.52px 2.53px 0px #00000024;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    display: inline-block;
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    margin-top: 30px;
}
.urnaus-image svg {
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: -1;
}
.earth-image img {
    position: fixed;
    bottom: 0px;
    left: 25%;
    transform: translateX(50%);
}
.astranaut-image svg {
    position: fixed;
    right: 10px;
    top: 50%;
}
.statelite-image {
    position: fixed;
    top: 20%;
    left: 19%;
}
.rocket-image {
    position: fixed;
    left: 48%;
    bottom: 5%;
}
.Saturn-image img {
    position: fixed;
    top: 58%;
}
.moon-image img {
    position: fixed;
    right: 10%;
    bottom: 13%;
}
.earth-rocket-wrap {
    position: relative;
}  
.banner-mobile-text{
    display: none;
}
/* Responsive */
@media (max-width:1024px) {
    .container{
        width: 92%;
    }
    .earth-image img {
        left: 2%;
    }
    .astranaut-image svg {
        position: fixed;
        right: 0px;
        top: 50%;
    }
    .hero-content {
        padding-top: 80px;
        
    }
    .hero-content {
        padding: 10px 20px;
    }
    .statelite-image {
        display: none;
    }
    .rocket-image img {
        left: 45%;
        width: 88%;
    }
    .Saturn-image img {
        position: fixed;
        top: 58%;
        width: 17%;
    }
    .hero-section {
        padding: 150px 0px 60px 0px;
    }
}
@media (max-width:782px) and (min-width:768px) {

}
@media (max-width:1200px) and (min-width:1023px) {
    .container{
        width: 94%;
    }
}
@media (max-width:1700px) and (min-width:1600px) {
    .earth-image img {
        left: 21%;
      }
      .rocket-image {
        left: 48%;
      }

}
@media (max-width:1599px) and (min-width:1440px) {
    .earth-image img {
        left: 20%;
      }
      .rocket-image {
        left: 49%;
      }

}
@media (max-width:1439px) and (min-width:1300px) {
    .earth-image img {
        left: 18%;
      }
      .rocket-image {
        left: 49.5%;
      }
      .statelite-image{
        display: none;
      }


}
@media (max-width:1299px) and (min-width:1200px) {
    .earth-image img {
        left: 15%;
        transform: translateX(41%);
      }
      .rocket-image {
        left: 46%;
      }
      .statelite-image{
        display: none;
      }

}
@media (max-width:1199px) and (min-width:1025px) {
    .earth-image img {
        left: 11%;
        transform: translateX(40%);
      }
      .rocket-image {
        left: 46%;
      }
      .statelite-image{
        display: none;
      }

}
@media (max-width:767px) and (min-width:520px) {

}
@media (max-width:767px) {
    .container{
        width: 92%;
    }
    .banner-text{
      display: none;
    }
    .hero-section {
        padding: 100px 0px 60px 0px;
    }
    .banner-mobile-text{
        display: block;
        margin: auto;
    }
    .logo img {
        width: 30%;
    }
    .urnaus-image svg {
        max-width: 260px;
      }
      .statelite-image{
        display: none;
      }
      .Saturn-image img{
        display: none;
      }
      a.hero-btn {
        font-size: 12px;
        line-height: 14px;
        padding: 15px 30px;
        top: -90px;
    }
    .earth-image img {
        left: 0%;
        max-width: 100%;
        transform: translateX(0%);
    }
    .astranaut-image svg {
        position: fixed;
        right: 0px;
        top: 60%;
        padding-top: 20px;
        left: 0%;
        max-width: 85%;
    }
    .moon-image img{
        display: none;
    }
    .rocket-image {
        left: 25%;
        bottom: 5%;
        transform: translateX(50%);
    }
    .rocket-image img {
        width: 75%;
    }
    .hero-content {
        padding: 10px 0px;
      }
}